:root{
    --width-lg-sidebar: 270px;
    --width-sm-sidebar: 65px;
    --height-container-logo: 60px;
}

.width-lg-sidebar{
    width: var(--width-lg-sidebar);
}

.width-sm-sidebar{
    width: var(--width-sm-sidebar);
    transition: all 0.5s;
}

.width-sm-sidebar .text-menu{
    display: none;
}

.width-sm-sidebar .align-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.width-lg-sidebar .align-menu{
    display: flex;
    align-items: flex-start;
}

.width-sm-container{
    width: calc(100% - var(--width-lg-sidebar));
}

.width-lg-container{
    width: calc(100% - var(--width-sm-sidebar));
}

.height-container-navbar,
.height-container-logo{
    height: var(--height-container-logo);
}

.height-container-board,
.height-container-menu{
    height: calc(100% - var(--height-container-logo));
}